<header>
    <div id="overlay">
        <ul class="text-3xl text-center text-white list-none">
            {{ range .Site.Menus.main }}
            <li class="p-2">
                <a href="{{ .URL | safeURL }}">
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    <nav class="flex flex-wrap items-center justify-between p-8 bg-opacity-100">
        <div class="flex items-center flex-shrink-0 mr-6 text-3xl text-grey-900 title" style="font-size:25px;font-weight: bold;">
            Resilient Culture Research  Group
        </div>
            <div class="flex items-center flex-shrink-0 mr-6 text-xl text-grey-900">
                <a href="{{ .Site.BaseURL }}"><img alt="{{ .Site.Params.logo.alt }}"
                        class="{{ .Site.Params.logo.size }} mr-3" style="height: 42px;" src="{{ .Site.Params.logo.main | relURL }}"></a>
            </div>
        <div class="block lg:hidden">
            <div id="hamburgerbtn" class="flex items-center h-10 py-2 rounded cursor-pointer w-14 mopen">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
        </div>
        <div class="flex-grow hidden block w-full lg:flex lg:items-center lg:w-auto" id="mobileMenu">
            <div class="text-lg lg:flex-grow">
            </div>
            <div class="text-lg">
                {{ range .Site.Menus.main }}
                <a href="{{ .URL | safeURL }}"
                    class="block mt-4 mr-8 text-black duration-200 lg:inline-block lg:mt-0 hover:opacity-60">
                    {{ .Name }}
                </a>
                {{ end }}
            </div>
        </div>
    </nav>
</header>