<!-- <div  class="flex items-center justify-center w-full">
 
    

            <video src="/img/home/home1.mp4" controls alt="111" autoplay preload="auto" loop width="100%" height="100%">
            <div class="s-fade-txt">
                <h1 class="text-4xl "></h1>
            </div>
     
      


</div> -->


<div class="swiper-container">
    <div class="swiper-wrapper">
       
        <div class="swiper-slide">
            <img src="/img/home/1.jpg" alt="{{ 111 }}">
            <div class="s-fade-txt">
                <h1 class="text-4xl text-white ">11111</h1>
            </div>
        </div>
        <div class="swiper-slide">
            <video src="/img/home/home1.mp4"  alt="111" autoplay  loop >
                <div class="s-fade-txt">
                    <h1 class="text-4xl "></h1>
                </div>
            <div class="s-fade-txt">
                <h1 class="text-4xl ">2222</h1>
            </div>
        </div>
        
               
        <div class="swiper-slide">
            <img src="/img/home/2.jpg" alt="{{ 111 }}">
            <div class="s-fade-txt">
                <h1 class="text-4xl text-white ">11111</h1>
            </div>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
