<!-- <div  class="flex items-center justify-center w-full">
 
    

            <video src="/img/home/home1.mp4" controls alt="111" autoplay preload="auto" loop width="100%" height="100%">
            <div class="s-fade-txt">
                <h1 class="text-4xl "></h1>
            </div>
     
      


</div> -->


<div class="swiper-container">
    <div class="swiper-wrapper">
       
        <div class="swiper-slide">
            <img src="/img/home/1.jpg" alt="{{ 111 }}">
            <div class="text-white s-fade-txt">
                <h1 class="text-4xl text-white ">Exploring the intersection of traditional cultural practices and digital innovation to foster resilience and sustainability</h1>

              <a href="/team" class="text-white"><button>about us</button></a>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="/img/home/2.jpg" alt="{{ 111 }}">
            <div class="text-white s-fade-txt" >
                <h1 class="text-4xl text-white ">Our Project</h1>

                <div>
                    The Unseen Face
                </div>

                <div> collaborated with the 9 Contemporary Dance Troupe from Beijing</div>

               <a href="/projects/"><button>Learn more </button></a> 
            </div>
        </div>
        
               
        <div class="swiper-slide">
            <img src="/img/home/3.jpg" alt="{{ 111 }}">
            <div class="text-white s-fade-txt">
                <h1 class="text-4xl ">News</h1>
                <div>
                    Empowering Teenagers' Sustainable Behavior Workshop in Interaction Design
                </div>

               <a href="/news"><button>Learn more </button></a> 
            </div>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
