<!-- <div  class="flex items-center justify-center w-full">
 
    

            <video src="/img/home/home1.mp4" controls alt="111" autoplay preload="auto" loop width="100%" height="100%">
            <div class="s-fade-txt">
                <h1 class="text-4xl "></h1>
            </div>
     
      


</div> -->


<div class="swiper-container">
    <div class="swiper-wrapper">
       
        <div class="swiper-slide">
            <img src="/img/home/1.jpg" alt="{{ 111 }}">
            <div class="text-white s-fade-txt">
                <div class="text-3xl" style="margin-bottom: 15px;font-weight: bold;">
                    <div class="text-white " style="margin-bottom: 15px;">Exploring the intersection of traditional </div>
                  <div style="margin-bottom: 15px;"> cultural practices and digital innovation to</div>    
                    <div style="margin-bottom: 15px;"> foster resilience and sustainability in</div>
                  <div style="margin-bottom: 15px;">contemporary society.</div>
                </div>

                  <a href="/team" class="text-2xl text-white" style="text-decoration:underline">about us</a>
            </div>
       
        </div>
    

        <div class="swiper-slide">
            <img src="/img/home/2.jpg" alt="{{ 111 }}">
            <div class="text-white s-fade-txt1" >
                <div class="text-3xl text-white " style="margin-bottom: 15px; ;font-weight: bold;">Our Project</div>

                <div style="margin-bottom: 15px;"   class="text-2xl">
                    The Unseen Face
                </div>

                <div  class="text-2xl" style="margin-bottom: 15px;"> collaborated with the 9 Contemporary Dance Troupe from Beijing</div>

               <a href="/projects/" class="text-2xl" style="text-decoration:underline">Learn more</a> 
            </div>
        </div>
        
               
        <div class="swiper-slide">
            <img src="/img/home/3.jpg" alt="{{ 111 }}">
            <div class="text-white s-fade-txt2">
                <h1 class="text-3xl " style="margin-bottom: 15px;font-weight: bold;">News</h1>
                <div class="text-1xl" style="margin-bottom: 15px;">
                    Empowering Teenagers' Sustainable Behavior Workshop 
                </div>
                <div class="text-1xl" style="margin-bottom: 15px;">in Interaction Design</div>

                <a class="text-2xl" href="/news" style="text-decoration:underline">Learn more </a> 
            </div>
        </div>

        
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
