{{ define "meta_tags" }}
<meta property="og:title" content="{{site.Title}}{{if not .IsHome}} | {{.Title}}{{end}}" />
{{ partial "seo/print.html" . }}

{{- with .Site.Params.facebookAppId }}
<meta property="fb:app_id" content="{{ . }}" />
{{- end }}
<meta name="twitter:title" content="{{ .Title }}">
<link rel="preload" href='{{ "/css/sweetalert2.min.css" | relURL }}' as="style"
    onload="this.onload=null;this.rel='stylesheet'">
{{ end }}
{{ define "main" }}
<div class="max-w-6xl mx-auto my-10">
    <div class="col-span-3 px-2 mx-3 lg:col-span-2">
        <h1 class="mb-3 text-5xl font-bold title">{{.Title}}</h1>
        <section class="mb-4 text-lg">
            <!-- <h4 id="date" class="flex flex-row items-center"><span class="mr-2 text-2xl icon-access_time"></span>
                {{ .Date.Format "2006/01/02" }} </h4> -->
            {{ if .Params.author }}
            <h4 class="flex flex-row items-center"><span class="mr-2 text-2xl icon-person"></span>{{.Params.author}}
            </h4>
            {{ end }}
            {{ with .Params.categories }}
            <div id="categories" class="flex flex-row items-center">
                <span class="mr-1 text-2xl icon-folder"></span>
                {{ range . }}
                <span
                    class="inline-flex content-center justify-center px-1 py-1 leading-4 text-blue-600 duration-200 hover:text-blue-800"><a
                        href='{{ "categories" | absURL}}/{{ . | urlize }}'>{{ . }}</a></span>
                {{ end }}
            </div>
            {{ end }}
        </section>
        {{ if .Params.image }}
        <img class="my-4" src="{{ .Params.image | absURL }}">
        {{ end }}
        <div class="py-1 prose content md:prose-lg lg:prose-xl max-w-none">{{.Content}}</div>

        <hr class="py-4">
        {{- with .Site.Params.disqusShortname }}
   
        <hr class="py-4">
        {{ end }}
        <aside id="meta">
            <div class="grid grid-cols-2">
                <div class="col-span-1">
                    {{ with .PrevInSection }}
                    <a class="previous lg:text-2xl" href="{{.Permalink}}">
                        <div
                            class="h-auto py-3 m-3 text-center transition-colors duration-300 border border-gray-600 hover:border-black lg:py-1">
                            <span class="icon-keyboard_arrow_left"></span> {{.Title | truncate 10 "…"}}
                        </div>
                    </a>
                    {{ end }}
                </div>
                {{ with .NextInSection }}
                <a class="next lg:text-2xl" href="{{.Permalink}}">
                    <div
                        class="h-auto col-span-1 py-3 m-3 text-center transition-colors duration-300 border border-gray-600 hover:border-black lg:py-1">
                        {{.Title | truncate 10 "…"}} <span class="icon-keyboard_arrow_right"></span>
                    </div>
                </a>
                {{ end }}
            </div>
        </aside>
    </div>
</div>
{{ end }}
